/**
* @project-name ATM Card Design
* @version 1
* @author Jon Rey R.G. "Mr.EY"
* @date 12-23-2020
*/
:root {
  --card-background-front:linear-gradient(to bottom, rgba(0,0,0, .3), rgba(0,0,0,.3));
  --card-background-back:linear-gradient(to bottom, rgba(0,0,0, .5), rgba(0,0,0,.5));
  --rotate-duration: 15s;
  
}
* {
  box-sizing: content;
}

.text-color-white{
  color:#ffffff;
}
.text-color-black{
  color:#000000;
}

div#atm-card-theme-custom div.atm-card-front img.atm-background-image,
div#atm-card-theme-custom div.atm-card-back img.atm-background-image{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

div.atm-card-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

div#atm-card-theme-custom{
  position: relative;
  display: flex;
  height: 200px;
  width: 350px;
}

div#atm-card-theme-1{
  position: relative;
  display: flex;
  height: 200px;
  width: 350px;
  --card-background-front:linear-gradient(to bottom, #002b70, #357aeb);
  --card-background-back:linear-gradient(to bottom, #002b70, #357aeb);
}
div#atm-card-theme-2{
  position: relative;
  display: flex;
  height: 200px;
  width: 350px;
  --card-background-front:linear-gradient(to bottom left, #000000, #ff0000);
  --card-background-back:linear-gradient(to bottom left, #000000, #ff0000);
}
div#atm-card-theme-3{
  position: relative;
  display: flex;
  height: 200px;
  width: 350px;
  --card-background-front:linear-gradient(to top, #878787, #303845);
  --card-background-back:linear-gradient(to top, #878787, #303845);
}
div#atm-card-theme-4{
  position: relative;
  display: flex;
  height: 200px;
  width: 350px;
  --card-background-front:linear-gradient(to left, #bdd4e7 0%, #8693ab 74%);
  --card-background-back:linear-gradient(to left, #bdd4e7 0%, #8693ab 74%);
}

div.atm-card-front, div.atm-card-back{
  position: absolute;
  padding: 2px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-size: auto;
  box-shadow:5px 5px 25px grey;
}

div.atm-card-front {
  background: var(--card-background-front) no-repeat center;
}
div.atm-card-back {
  background: var(--card-background-back) no-repeat center;
}

div.atm-card-front{
  z-index: 1;
  backface-visibility: hidden;
  transition: transform 2s;
}
.atm-card-back{
  transform: rotateY(180deg);
  
}
div.atm-card-back{
  backface-visibility: hidden;
  transition: transform 2s;
}

span.atm-bank-name {
  position: absolute;
  color: white;
  left: 5%;
  font: bold 25pt Arial, sans-serif;
}


span.atm-card-expiry{
  position: absolute;
  display:flex;
  height:20px;
  width:30px;
  padding: 2px;
  color: black;
  bottom: 20%;
  left: 60%;
  font:bold 8pt Arial, sans-serif;
}
span.atm-card-expiry::before {
  content: 'VALID THRU';
  position: absolute;
  height:25px;
  width:25px;
  color: black;
  left: -20px;
  font: 5pt Arial, sans-serif;
}
span.atm-card-expiry.atm-card-label {
  border: solid 1px red;
}
span.atm-card-expiry.atm-card-label::before {
  border: solid 1px red;
  border-right-style: none;
  height: 100px;
  width:17px;
}
span.atm-card-expiry.atm-card-label::after {
  content: 'Expiry Date';
  background-color: rgba(0,0,0,.6);
  color: #ffffff;
  position: absolute;
  padding: 2px;
  bottom: -90px;
  left: -5px;
  width: 70px;
  font: bold 10pt Arial, sans-serif;
}

span.atm-card-type {
  position: absolute;
  color: #ffffff;
  top: 40%;
  right: 20px;
  font: bold 11pt Arial, sans-serif;
}
span.atm-card-type.atm-card-label{
  border: solid 1px red;
}
span.atm-card-type.atm-card-label::before{
  content: '';
  position: absolute;
  border-top:solid 1px red;
  width:40px;
  right:-40px;
}
span.atm-card-type.atm-card-label::after{
  content: 'Card Type';
  position: absolute;
  background-color: rgba(0,0,0,.6);
  color: #ffffff;
  padding: 2px;
  width:65px;
  right:-110px;
  font: bold 10pt Arial, sans-serif;
}

span.atm-account-name {
  position: absolute;
  color: #000000;
  bottom: 15%;
  left: 20px;
  font: bold 9pt Arial, sans-serif;
}
span.atm-account-name.atm-card-label{
  border: solid 1px red;
}
span.atm-account-name.atm-card-label::before {
  content: '';
  position: absolute;
  border: solid 1px red;
  border-bottom-style:none;
  border-left-style:none;
  width: 30px;
  left:-32px;
}
span.atm-account-name.atm-card-label::after{
  content: 'Card Holder Name';
  position: absolute;
  background-color: rgba(0,0,0,.6);
  font: bold 10pt Arial, sans-serif;
  color: #ffffff;
  width: 150px;
  padding: 2px;
  left:-180px;
}

span.atm-account-number {
  position: absolute;
  color: #000000;
  bottom: 8%;
  left: 20px;
  font: bold 7pt Arial, sans-serif;
  letter-spacing: 1.5px;
}
span.atm-account-number.atm-card-label {
  border: solid 1px red;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}
span.atm-account-number.atm-card-label::before {
  content: '';
  position: absolute;
  border-right: solid 1px red;
  height: 38px;
  top: 13px;
  left: 5px;
}
span.atm-account-number.atm-card-label::after {
  content: 'Account Number';
  position: absolute;
  background-color: rgba(0,0,0,.6);
  color: #ffffff;
  padding: 2px;
  width:130px;
  top: 50px;
  left: -50px;
  font: bold 10pt Arial, sans-serif;
}


span.atm-security-code {
  position: absolute;
  display: flex;
  background-color: grey;
  padding: 2px;
  height: 36px;
  width:30px;
  color: black;
  top: 40%;
  right: 15%;
  font: bold 12pt Arial, sans-serif;
}
span.atm-security-code.atm-card-label {
  border: solid 1px red;
}
span.atm-security-code.atm-card-label::before {
  content: '';
  position: absolute;
  width: 65px;
  right: -65px;
  border-top: solid 1px red;
}
span.atm-security-code.atm-card-label::after{
  content: 'Security Code';
  position: absolute;
  background-color: rgba(0,0,0,.6);
  color: #ffffff;
  padding: 2px;
  width: 90px;
  right: -150px;
  font: bold 10pt Arial, sans-serif;
}

div.atm-mastercard::before,
div.atm-mastercard::after {
  content: '';
  position: absolute;
  border-radius: 100%;
  bottom: -20px;
}
div.atm-mastercard::before{
  border:20px solid red;
  right: 5px;
}
div.atm-mastercard::after{
  border:20px solid orange;
  opacity: .7;
  right: -20px;
  z-index: 1;
}
div.atm-mastercard{
  position: absolute;
  border:20px solid orange;
  border-radius: 100%;
  right: 20px;
  bottom: 20px;
  z-index: -1;
}

div.atm-card-hologram {
  position: absolute;
  border: solid 13px #c0c0c0;
  border-radius: 30%;
  bottom: 20%;
  left: 5%;
  width: 15px;
}
div.atm-card-hologram.atm-card-label::before{
  content: '';
  position: absolute;
  border-top: solid 1px red;
  width: 40px;
  left: -40px;
}
div.atm-card-hologram.atm-card-label::after{
  content: 'Hologram';
  position: absolute;
  background-color: rgba(0,0,0,.6);
  color: #ffffff;
  padding: 2px;
  width: 100px;
  left: -143px;
  font: bold 10pt Arial, sans-serif;
}

div.atm-card-chip {
  position: absolute;
  border: solid 13px #d4af37;
  border-radius: 5%;
  top: 30%;
  left: 10%;
  width: 15px;
}
div.atm-card-chip.atm-card-label::before {
  content: '';
  position: absolute;
  border-top: solid 1px red;
  width: 65px;
  left: -60px;
}
div.atm-card-chip.atm-card-label::after{
  content: 'Chip';
  position: absolute;
  background-color: rgba(0,0,0,.6);
  color: #ffffff;
  padding: 3px;
  width: 35px;
  left: -100px;
  top:-10px;
  font: bold 10pt Arial, sans-serif;
}

span.atm-card-number {
  position: absolute;
  color: black;
  top:100px;
  left: 5%;
  letter-spacing: 2px;
  font: bold 10pt Arial, sans-serif;
}
span.atm-card-number.atm-card-label{
  position: absolute;
  border: solid 1px red;
}
span.atm-card-number.atm-card-label::before{
  content: '';
  position: absolute;
  border-top: solid 1px red;
  width: 19px;
  left: -20px;
}
span.atm-card-number.atm-card-label::after {
  content: 'Card Number';
  position: absolute;
  background-color: rgba(0,0,0, .6);
  padding: 5px;
  color: #ffffff;
  width: 130px;
  left: -160px;
  font: bold 10pt Arial, sans-serif;
}

div.atm-magnetic-stripe{
  position: absolute;
  border: solid 15px black;
  width:91%;
  top: 6%;
}
div.atm-magnetic-stripe.atm-card-label::before{
  content: '';
  position: absolute;
  border-top: solid 1px red;
  width: 40px;
  left: -40px;
}
div.atm-magnetic-stripe.atm-card-label::after{
  content: 'Magnetic Stripe';
  position: absolute;
  background-color: rgba(0,0,0,.6);
  color: #ffffff;
  padding: 2px;
  width: 100px;
  left: -143px;
  font: bold 10pt Arial, sans-serif;
}

div.atm-signature-stripe{
  position: absolute;
  border: solid 20px white;
  width:60%;
  top: 40%;
  left:5%;
}
div.atm-signature-stripe.atm-card-label::before{
  content: '';
  position: absolute;
  border-top: solid 1px red;
  width: 45px;
  left: -45px;
}
div.atm-signature-stripe.atm-card-label::after{
  content: 'Signature Stripe';
  position: absolute;
  background-color: rgba(0,0,0,.6);
  color: #ffffff;
  padding: 2px;
  width: 100px;
  left: -145px;
  font: bold 10pt Arial, sans-serif;
}

span.atm-notice{
  position: absolute;
  width: 70%;
  height: 30%;
  line-height: 1px;
  text-align: justify;
  user-select: none;
  bottom: 6%;
  right: 20px;
  margin: 5px;
  overflow: hidden;
  font: bold 5pt Arial, sans-serif;
}

span.atm-label-authorized::before{
  content: 'AUTHORIZED SIGNATURE NOT VALID UNLESS SIGNED';
  position: absolute;
  text-align: justify;
  user-select: none;
  top:30%;
  left: 5%;
  font: bold 6pt Arial, sans-serif;
}

div.atm-card-animate div.atm-card-front{
  animation: rotateF var(--rotate-duration) ease 2s infinite;
}
div.atm-card-animate div.atm-card-back{
  animation: rotateB var(--rotate-duration) ease 2s infinite;
}

@keyframes rotateF{
  100%{
    transform: rotateY(360deg);
  }
}
@keyframes rotateB{
  100%{
    transform: rotateY(-180deg);
  }
}


div.atm-card-hover-flip:hover div.atm-card-front {
  transform: rotateY(180deg);
}
div.atm-card-hover-flip div.atm-card-back {
  transform: rotateY(180deg);
}
div.atm-card-hover-flip:hover div.atm-card-back {
  transform: rotateY(360deg);
}